.header {
    display: flex;
    align-items: center;
}


.header img {
    width: 150px;

}

.menu {
    background-color: purple;
    display: flex;
    flex: 1;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.button {
    background-color: #6d63ff ;
    width: 75px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}


.profile {
    background-color: rgb(72, 70, 70);
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
}

.profile img {
    width: 35px;
}