.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: aquamarine;
    height: 450px;
    width: 600px;
}

.nom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
