* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app {
 display: flex;
 justify-content: center;
}


.principal {
  width: 1100px;
  margin-top: 15px;
  
}

body {
  background-color: black;
  color: white;
}

body h1 {
  font-family: sans-serif;
  font-size: 26px;
}

body h2 {
  font-family: sans-serif;
  font-size: 16px;
}

body p {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

